#generator {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #ffcb08;
    height: 150px;
    width: 680px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#genInput {
    border: 0px solid #CCC;
    display: inline;
    width: 49%;
    height: 99%;
    float: left;
    text-align: center;
}

#genCode {
    border: 0px solid red;
    display: inline;
    width: 50%;
    height: 99%;
    float: right;
    text-align: center;
    background-color: #ffcb08;
}

.inputBox {
    padding: 9px 15px;
    margin-right: 0;
    width: 200px;
    margin: 10px 20px 0px 20px;
    font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 2px;
    border-bottom-left-radius: 15px;
    border: 1px solid #d71640;
    background-color: #faffbd;
    
}

#barcode {
    width: auto;
    margin: auto;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid black;
}

#genCode {
    border-top-right-radius: 15px;
}

#genName {
    font: 20px Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center
}

.bodyIndex {
    width: 700px;
    margin: auto;
    background-color: #d71640;
}

#toImg {
    padding: 10px 20px;
}

#submitBtn {
    border-radius: 2px;
    background-color: #d71640;
    width: 230px;
    text-transform: uppercase;


   
}

#fullCode {
    width: 320px;
    margin: auto;
    background-color: white;
    display: none;
}

#canvasElement {
    margin-top: 10px;
}

#a4page {
    display: block;
    background-color: antiquewhite;
    size: a4 landscape;
    border: 1px solid black;
}

.codeA4 {
    width: 200px;
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 0 20px;
}

.nineCodes {
    float: left;
    width: 200px;
    margin-top: 10px;
    /*background-color: aqua;
      border: 1px solid red;
    */
}

#nine1 {
    display: inline-block;
    float: left;
}

#nine2 {
    display: inline-block;
    float: left
}

#nine3 {
    display: inline-block;
    float: left;
}

#nine4 {
    display: inline-block;
    float: left;
}

.image {
    display: block;
    width: 100%;
    height: auto
}

.pdfPage {
    size: a4 landscape;
    border: 1px solid red;
    margin: 0;
}

#floatForm {
    z-index: 9999;
    position: fixed;
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    float: right;
    width: auto;
}

.mainTitle {
    font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffcb08;
    text-shadow: 2px 2px 2px #333;
}

.codeHere {
    font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #d71640;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 30px;
    margin-bottom: 5px;
    font-size: 12pt;
}

.smallText {
    font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #d71640;
    text-transform: uppercase;
    font-size: 8pt;
}
.boxShadow{
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}